<footer class="footer-container">
    <div nz-row nzGutter="16">
      <!-- Columna 1: Logo e íconos de redes sociales -->
      <div nz-col [nzSpan]="6" class="footer-column">
        <img src="assets/images/logo.png" alt="Logo de la Empresa" class="footer-logo">
        <div class="social-icons">

          <div class="icons-list">
            <a href="https://otra-pagina.com" target="_blank" aria-label="Otra página">
              <span nz-icon [nzIconfont]="'icon-tuichu'"></span>
            </a>
            <span nz-icon [nzIconfont]="'icon-facebook'"></span>
            <span nz-icon [nzIconfont]="'icon-twitter'"></span>           
          </div>

        </div>
      </div>
  
      <!-- Columna 2: Políticas de Privacidad -->
      <div nz-col [nzSpan]="6" class="footer-column">
        <h3>Políticas de Privacidad</h3>
        <ul>
          <li><a routerLink="/terminos">Términos y Condiciones</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
          <li><a routerLink="/proteccion-datos">Ley de Protección de Datos</a></li>
        </ul>
      </div>
  
      <!-- Columna 3: Contáctanos -->
      <div nz-col [nzSpan]="6" class="footer-column">
        <h3>Contáctanos</h3>
        <p>Correo: contacto&#64;empresa.com</p>
        <p>Teléfono: +1 234 567 890</p>
      </div>
  
      <!-- Columna 4: Inicio -->
      <div nz-col [nzSpan]="6" class="footer-column">
        <h3>Inicio</h3>
        <ul>
          <li><a routerLink="/welcome">Inicio</a></li>
          <li><a routerLink="/encuesta">Encuestas</a></li>
          <li><a routerLink="/resultados">Resultados</a></li>
          <li><a routerLink="/terminos">Políticas</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </footer>
  