/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que padding y border se incluyan en el tamaño total */
}

/* Cuerpo de la página */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Fuente predeterminada */
  background-color: #f0f2f5; /* Fondo claro */
}

/* Contenedor Principal */
.home-container {
  text-align: center; /* Centra el contenido */
  padding: 20px;
  background-color: #f0f2f5; /* Fondo claro */
  color: #063b6f; /* Texto en azul profundo */
  width: 100%;
  min-height: 100vh; /* Asegura que ocupa toda la altura de la página */
}

/* Títulos */
.home-container h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #063b6f; /* Azul profundo */
  text-transform: uppercase;
}

/* Descripciones */
.home-container p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #4f4f4f; /* Gris oscuro para mejor legibilidad */
}

/* Botón para realizar encuestas */
.button-container {
  margin-top: 30px;
}

.survey-button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  color: #ffffff; /* Texto blanco */
  background-color: #8ab448; /* Fondo verde vibrante */
  border: none;
  border-radius: 50px; /* Botón con bordes redondeados */
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
  margin-bottom: 20px;
}

.survey-button:hover {
  background-color: #063b6f; /* Cambia a azul profundo en hover */
  transform: translateY(-2px); /* Efecto de desplazamiento */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al hacer hover */
}

/* Ajuste del tamaño del video */
.home-container iframe {
  width: 100%; /* Ocupa el 100% del contenedor */
  max-width: 560px;
  height: 315px;
  margin: 20px auto;
  display: block;
  border: 4px solid #8ab448; /* Borde en verde vibrante */
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Responsividad: Ajusta el video para pantallas más pequeñas */
@media (max-width: 768px) {
  .home-container iframe {
    width: 90%; /* El video ocupa el 90% en pantallas pequeñas */
  }

  .home-container h1 {
    font-size: 24px;
  }

  .home-container p {
    font-size: 16px;
  }
}
