<div class="encuesta-layout">
  
  <!-- Panel Izquierdo (20%) -->
  <nz-sider nzWidth="20%" class="panel-izquierdo">
    <ul class="tipo-lista">
      <li *ngFor="let tipo of obtenerClaves(encuestasPorTipo); let tipoIndex = index" (click)="toggleTipo(tipo)" class="tipo-item">
        <!-- Enumerar tipos con indentación -->
        <span class="tipo-titulo">{{ tipoIndex + 1 }}.&nbsp;&nbsp;{{ tipo | tituloEncuesta }}</span>
        <ul *ngIf="tipoSeleccionado === tipo" class="encuestas-lista">
          <li *ngFor="let encuesta of encuestasPorTipo[tipo]; let encuestaIndex = index" 
              (click)="seleccionarEncuesta(encuesta, $event)" 
              class="encuesta-item">
            <!-- Enumerar encuestas con indentación -->
            {{ encuestaIndex + 1 }}.&nbsp;&nbsp;{{ encuesta.titulo }}
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>


  <!-- Panel Derecho (centrado y con fondo blanco) -->
  <div class="panel-derecho" >
    <img *ngIf="!encuestaSeleccionada" 
     src="https://res.cloudinary.com/di8nyvtax/image/upload/v1732738780/wuv19erl6gxuwun0hsjx.jpg" 
     alt="Marca de agua" 
     class="marca-agua" />


    <div class="panel-derecho-content">
    <ng-container *ngIf="encuestaSeleccionada">
    <h2 class="titulo">{{ encuestaSeleccionada.titulo }}</h2>
    <p class="descripcion">{{ encuestaSeleccionada.descripcion }}</p>
    
    <!-- Campos adicionales para el encuestador -->
    
      <label class="campo-label">Nombre:</label>
      <input nz-input [(ngModel)]="nombre" placeholder="Ingrese su nombre" class="input-campo" />
      
      <label class="campo-label">Apellido:</label>
      <input nz-input [(ngModel)]="apellido" placeholder="Ingrese su apellido" class="input-campo" />
      
      <label class="campo-label">Área o Curso:</label>
      <input nz-input [(ngModel)]="areaCurso" placeholder="Ingrese su área o curso" class="input-campo" />
      
      <label class="campo-label">Edad:</label>
      <nz-select [(ngModel)]="edad" placeholder="Seleccione su edad" class="input-campo">
        <nz-option *ngFor="let age of edades" [nzValue]="age" [nzLabel]="age"></nz-option>
      </nz-select>
      


      <label class="campo-label">Sexo:</label>
      <nz-select [(ngModel)]="sexo" placeholder="Seleccione su sexo" class="input-campo">
        <nz-option nzValue="M" nzLabel="Masculino"></nz-option>
        <nz-option nzValue="F" nzLabel="Femenino"></nz-option>
      </nz-select>
      <br><br>
    

    <!-- Preguntas de la encuesta -->
    <div *ngFor="let pregunta of encuestaSeleccionada.preguntas; let i = index" class="pregunta-contenedor">
      <!-- Contenedor de texto (pregunta y respuestas) -->
      <div class="pregunta-texto-respuesta">
        <!-- Texto de la pregunta -->
        <p class="pregunta-texto">{{ pregunta.texto }}</p>
        
        <!-- Respuesta -->
        <div class="respuesta">
          <ng-container [ngSwitch]="pregunta.tipoRespuesta">
            <!-- Respuesta corta -->
          <ng-container *ngSwitchCase="'corta'">
            <input nz-input [(ngModel)]="respuestas[i]" placeholder="Escriba su respuesta corta" class="input-campo" />
          </ng-container>
    
          <!-- Párrafo -->
          <ng-container *ngSwitchCase="'parrafo'">
            <textarea nz-input [(ngModel)]="respuestas[i]" placeholder="Escriba su respuesta en párrafo" class="textarea-campo"></textarea>
          </ng-container>
    
          <!-- Opción -->

          <ng-container *ngSwitchCase="'opcion'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['1', '2', '3', '4', '5']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

    
          <!-- Casilla 
          <ng-container *ngSwitchCase="'casilla'">
            <label nz-checkbox [(ngModel)]="respuestas[i]">Marcar esta casilla</label>
          </ng-container>-->
    
          <!-- Desplegable -->
          <ng-container *ngSwitchCase="'desplegable'">
            <nz-select [(ngModel)]="respuestas[i]" placeholder="Seleccione una opción" class="desplegable-campo">
              <nz-option nzValue="opcion1" nzLabel="Siempre"></nz-option>
              <nz-option nzValue="opcion2" nzLabel="Frecuentemente"></nz-option>
              <nz-option nzValue="opcion3" nzLabel="A veces"></nz-option>
              <nz-option nzValue="opcion4" nzLabel="Nunca"></nz-option>
            </nz-select>
          </ng-container>
    
          <!-- Escala de Frecuencia-->
          <ng-container *ngSwitchCase="'frecuencia'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['Nunca', 'A veces', 'Frecuentemente', 'Siempre']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

          <!-- Escala de Certeza-->
          <ng-container *ngSwitchCase="'certeza'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['No es cierto', 'Raramente es cierto', 'A veces es cierto', 'Totalmente es cierto']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

          <!-- Escala de Acuerdo-->
          <ng-container *ngSwitchCase="'acuerdo'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['Totalmente en desacuerdo', 'En desacuerdo', 'De acuerdo', 'Totalmente de acuerdo']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

          <!-- Escala de Intensidad-->
          <ng-container *ngSwitchCase="'intensidad'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['No, en absoluto', 'Raramente', 'A veces.', 'Sí, a menudo']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

          <!-- Escala Sí o No-->
          <ng-container *ngSwitchCase="'siNo'">
            <div class="escala-botones">
              <button *ngFor="let valor of ['Si', 'No']; let j = index" 
                      nz-button 
                      nzType="default" 
                      (click)="respuestas[i] = valor" 
                      [ngClass]="{'selected': respuestas[i] === valor}">
                {{ valor }}
              </button>
            </div>
          </ng-container>

          <!-- Escala imagenes-->
          <ng-container *ngSwitchCase="'caritas'">
            <div class="emoji-options">
              <img src="assets/emojis/sad1.JPG" (click)="respuestas[i] = 'sad'" class="emoji" [ngClass]="{'selected': respuestas[i] === 'sad'}" alt="Triste" title="Triste" />
              <img src="assets/emojis/neutral1.JPG" (click)="respuestas[i] = 'neutral'" class="emoji" [ngClass]="{'selected': respuestas[i] === 'neutral'}" alt="Neutral" title="Neutral" />
              <img src="assets/emojis/happy1.JPG" (click)="respuestas[i] = 'happy'" class="emoji" [ngClass]="{'selected': respuestas[i] === 'happy'}" alt="Feliz" title="Feliz" />
              <img src="assets/emojis/smile1.JPG" (click)="respuestas[i] = 'smile'" class="emoji" [ngClass]="{'selected': respuestas[i] === 'smile'}" alt="Muy feliz" title="Muy feliz" />
            </div>
          </ng-container>
          

            <!-- Fallback para tipo desconocido -->
            <ng-container *ngSwitchDefault>
              <p class="texto-advertencia">Tipo de respuesta desconocido.</p>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!-- Imagen asociada -->
      <img *ngIf="pregunta.imgUrl" [src]="pregunta.imgUrl" alt="Imagen asociada" class="imagen-pregunta" />
    </div>

   <!-- Botón para generar el link de la encuesta -->
<button nz-button nzType="primary" (click)="mostrarLink()">
  {{ encuestaSeleccionada.tipo === 'libre' ? 'Ver Resultado' : 'Generar Link para esta Encuesta' }}
</button>

<!-- Mostrar el link generado si existe -->
 
<p *ngIf="linkGenerado">Link generado: <a [href]="linkGenerado" target="_blank">{{ linkGenerado }}</a></p>
</ng-container>


  </div>
</div>


<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Resultado de la Encuesta" (nzOnCancel)="cerrarModal()" (nzOnOk)="cerrarModal()">
  <div *nzModalContent>
  <p><strong>Calificación:</strong> {{ puntuacionTotal }}</p>
  <p><strong>Recomendación:</strong> {{ recomendacion }}</p>
</div>
</nz-modal>
