<!-- admin-encuestas.component.html -->
<nz-card nzTitle="Administración de Encuestas" class="admin-card">
  <form [formGroup]="form" (ngSubmit)="isEditMode ? actualizarEncuesta() : crearEncuesta()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Título</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input formControlName="titulo" placeholder="Título de la encuesta" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Descripción</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nz-input formControlName="descripcion" placeholder="Descripción de la encuesta"></textarea>
      </nz-form-control>
    </nz-form-item>

        <!-- Nuevo campo para seleccionar el tipo de encuesta -->
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Tipo de Encuesta</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="tipo" nzPlaceHolder="Seleccione el tipo de encuesta">
              <nz-option nzValue="seguridad" nzLabel="Seguridad Empresarial"></nz-option>
              <nz-option nzValue="acosoLaboral" nzLabel="Acoso Laboral"></nz-option>
              <nz-option nzValue="acosoEscolar" nzLabel="Acoso Escolar"></nz-option>
              <nz-option nzValue="saludMental" nzLabel="Salud Mental"></nz-option>
              <nz-option nzValue="libre" nzLabel="Gratuita"></nz-option>
              <nz-option nzValue="temasVariados" nzLabel="Otro"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

    <nz-form-item formArrayName="preguntas">
      <nz-form-label [nzSpan]="6">Preguntas</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <div *ngFor="let pregunta of preguntas.controls; let i = index" [formGroupName]="i" class="pregunta-item">
          <input nz-input formControlName="texto" placeholder="Texto de la pregunta" style="width: 80%;" />
          <nz-select formControlName="tipoRespuesta" nzPlaceHolder="Seleccione el tipo de respuesta" nzAllowClear style="width: 80%;">
            <nz-option nzValue="corta" nzLabel="Respuesta corta"></nz-option>
            <nz-option nzValue="parrafo" nzLabel="Párrafo"></nz-option>
            <nz-option nzValue="opcion" nzLabel="Opción"></nz-option>
            <nz-option nzValue="siNo" nzLabel="Si o No"></nz-option>
            <nz-option nzValue="frecuencia" nzLabel="Escala de Frecuencia"></nz-option>
            <nz-option nzValue="certeza" nzLabel="Escala de Certeza"></nz-option>
            <nz-option nzValue="acuerdo" nzLabel="Escala de Acuerdo"></nz-option>
            <nz-option nzValue="intensidad" nzLabel="Escala de Intensidad"></nz-option>
            <nz-option nzValue="caritas" nzLabel="Caritas o Imágenes"></nz-option>

          </nz-select>

          <!-- Botón para cargar imagen -->
          <input type="file" accept="image/*" (change)="cargarImagen($event, i)" class="input-file" />

          <!-- Mostrar imagen cargada -->
          <img *ngIf="preguntas.controls[i].get('imgUrl')?.value" [src]="preguntas.controls[i].get('imgUrl')?.value" alt="Imagen de la pregunta" class="imagen-preview" />
          
          <button nz-button nzType="default" nzDanger nzShape="circle" class="eliminar-boton" (click)="eliminarPregunta(i, $event)" nz-tooltip="Eliminar pregunta">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
        </div>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="dashed" type="button" (click)="agregarPregunta()">
      <i nz-icon nzType="plus"></i> Añadir pregunta
    </button>

     <!-- Campo para añadir resultados según calificación -->
     <nz-form-item formArrayName="resultados">
      <nz-form-label [nzSpan]="6">Resultados</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <div *ngFor="let resultado of resultados.controls; let i = index" [formGroupName]="i" class="resultado-item">
          <input nz-input formControlName="descripcion" placeholder="Descripción del resultado" style="width: 60%;" />
          <input nz-input formControlName="calificacionMinima" placeholder="Calificación mínima" style="width: 18%;" type="number" />
          <input nz-input formControlName="calificacionMaxima" placeholder="Calificación máxima" style="width: 18%;" type="number" />
          <button nz-button nzType="default" nzDanger nzShape="circle" class="eliminar-boton" (click)="eliminarResultado(i)" nz-tooltip="Eliminar resultado">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="dashed" type="button" (click)="agregarResultado()">
      <i nz-icon nzType="plus"></i> Añadir resultado
    </button>

    <div class="button-group">
      <button nz-button nzType="primary" [disabled]="form.invalid || !preguntasCompletas()" nzBlock>
        {{ isEditMode ? 'Actualizar Encuesta' : 'Crear Encuesta' }}
      </button>
      
      <button *ngIf="isEditMode" nz-button nzType="default" nzBlock (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>
</nz-card>

<!-- Lista de encuestas existentes -->
<nz-list [nzDataSource]="paginatedEncuestas" [nzRenderItem]="item" [nzBordered]="true">
  <ng-template #item let-encuesta>
    <nz-list-item>
      <nz-list-item-meta
        [nzTitle]="encuesta.titulo"
        [nzDescription]="encuesta.descripcion"
      ></nz-list-item-meta>
      <div class="list-buttons">
        <button nz-button nzType="default" (click)="editarEncuesta(encuesta)">
          <i nz-icon nzType="edit"></i> Editar
        </button>
        <button nz-button nzType="default" nzDanger (click)="eliminarEncuesta(encuesta.id)">
          <i nz-icon nzType="delete"></i> Eliminar
        </button>
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>

<!-- Paginación -->
<nz-pagination
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="encuestas.length"
  (nzPageIndexChange)="onPageChange($event)"
  [nzSimple]="true"
></nz-pagination>
