<div class="recuperar-form">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="recuperarContrasena()">
      <div nz-form-item nz-row>
        <div nz-form-control nz-col [nzSpan]="24">
          <input nz-input formControlName="email" placeholder="Ingrese su correo electrónico" />
        </div>
      </div>
      <button class="recuperar-form-button" nz-button nzType="primary" [disabled]="!form.valid">
        Enviar
      </button>
      <div *ngIf="mensaje" class="mensaje-confirmacion">{{ mensaje }}</div>
      <div class="login-form-margin">
        <a routerLink="/login">Regresar al inicio de sesión</a>
      </div>
    </form>
  </div>
  