<form nz-form [formGroup]="form" class="login-form" >

  <nz-form-item>
    <nz-form-control nzErrorTip="Ingrese un correo!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="email" placeholder="correo" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Ingrese la contraseña!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Recordar Inicio de Sesión</span>
      </label>
    </div>

    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">Olvidaste tu contraseña?</a>
    </div>
    
  </div>

  <button nz-button class="login-form-button" [nzType]="'primary'" type="button"
  (click)="onClickLogin()">Iniciar Sesión</button>
  O
  <a routerLink="/registro">Registrarse ahora!</a>
</form>