<nz-layout>
  <!-- Barra superior de navegación (Navbar) -->
  <nz-header>
    <div class="navbar">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/home">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        </a>
      </div>
      
      <!-- Menú de navegación -->
      <ul nz-menu nzMode="horizontal" nzTheme="dark">
        <!-- Home -->
        <li nz-menu-item>
          <a routerLink="/welcome">Inicio</a>
        </li>

        <!-- Encuestas -->
        <li nz-menu-item>
          <a routerLink="/encuesta">Encuestas</a>
        </li>

        <!-- Resultados -->
        <li nz-menu-item>
          <a routerLink="/resultados">Resultados</a>
        </li>

        <!-- Administrar Encuestas (Solo para administradores y gestores) -->
        <li nz-menu-item *ngIf="isAdmin || isGestor">
          <a routerLink="/panel">Administrar</a>
        </li>

        <!-- Contacto -->
        <li nz-menu-item>
          <a routerLink="/contacto">Contacto</a>
        </li>

        <!-- Login (Cambiar a Logout si está autenticado) -->
        <li nz-menu-item (click)="handleAuthAction()">
          <a>{{ isLoggedIn ? 'Cerrar Sesión' : 'Iniciar Sesión' }}</a>
        </li>
      </ul>
    </div>
  </nz-header>

  <!-- Contenido principal -->
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

    <!-- Footer solo si no estás en la página de encuestas -->
    <app-footer *ngIf="mostrarFooter"></app-footer>
</nz-layout>
